<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Metas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list style="margin-top: 10px!important;">
      <ion-item *ngFor="let dado of dados">
        <div style="margin-right: 5px;">
          <ion-icon name="{{dado.icone}}" size="large"></ion-icon>
        </div>
        <div style="width: 70%;">
          <ion-label>Descrição: {{dado.descricao}}</ion-label>
          <ion-label>Valor: R${{dado.valor}}</ion-label>
        </div>
      </ion-item>
    </ion-list>
    
    <ion-fab vertical="bottom" horizontal="start">
      <ion-fab-button color="tertiary" [routerLink]="['cadastro']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>