.icon-grid {
    --ion-grid-padding: 8px; /* Espaçamento entre as colunas */
  }
  
  .icon-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-segment-button {
    height: 80px; /* Altura dos botões de segmento */
  }