<ion-header>
  <ion-toolbar>
    <ion-title style="padding: 0;">
      Cadastro de Movimentação 
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button 
      text='' defaultHref="/movimentacao"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="margin: 20px;">
    <ion-label>Meta</ion-label>
    <form [formGroup]="dadoForm" (ngSubmit)="onSubmit(tipo)" style="width: 100%;">
      
        <ion-list>
          <ion-item>
            <ion-select placeholder="Metas" formControlName="meta">
              <div slot="label">Meta <ion-text color="danger">(*)</ion-text></div>
              <ion-select-option *ngFor="let dado of dados" value="{{dado.id}}">{{dado.descricao}}</ion-select-option>
             
            </ion-select>
          </ion-item>
        </ion-list>
      

      <ion-item>
        <ion-label position="floating">Valor:</ion-label>
        <ion-input type="number" formControlName="valor"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Selecione um ícone:</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-segment formControlName="icone">
          <ion-grid>
            <ion-row *ngFor="let row of iconRows">
              <ion-col *ngFor="let iconName of row" (click)="setSelectedIcon(iconName)">
                <ion-segment-button [value]="iconName" 
                                    [class.selected]="icone == iconName">
                  <ion-icon [name]="iconName"></ion-icon>
                </ion-segment-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-segment>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="dadoForm.invalid">Salvar</ion-button>
    </form>
  </ion-row>
</ion-content>
