<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Little Pig Golden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-row>
            <div style="width: 10%;">
              <ion-icon name="{{icone}}" size="large" color="{{color}}"></ion-icon>
            </div>
            <div style="text-align: center; width: 90%;">
              <ion-card-title color="{{color}}">Saldo: R$ {{saldo}}</ion-card-title>
            </div>
          </ion-row>
        </ion-card-header>
        <ion-card-header style="text-align: center; padding: 10px;">
          <ion-row>
          <ion-text color="success" style="width: 50%;">
            <ion-col>
              <h2 style="margin-top: 0px;">Lucro</h2>
              <h3>R$ {{lucro}}</h3>
            </ion-col>
          </ion-text>
          <ion-text color="danger" style="width: 50%;">
            <ion-col>
              <h2 style="margin-top: 0px;">Despesa</h2>
              <h3>R$ {{despesa}}</h3>
            </ion-col>
          </ion-text>
        </ion-row>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <!-- <ion-col>
      <ion-card>
        <ion-card-header [routerLink]="['/movimentacao']">
          <ion-card-title>
            <ion-icon name="people-circle" class="ion-float-left ion-margin-end"></ion-icon>
            Movimentação
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col> -->
  </ion-row>
  <div style="display: flex;justify-content: space-around;">
    <ion-list style="margin-top: 10px!important;width: 80%;">
      <ion-item *ngFor="let dado of dados">
        <div style="margin-right: 5px;">
          <ion-icon name="{{dado.icone}}" size="large"></ion-icon>
        </div>
        <div style="width: 70%;">
          <ion-label>Descrição: {{dado.descricao}}</ion-label>
          <ion-label *ngIf="dado.tipo == 'D'" color="danger">Valor: R${{dado.valor}}</ion-label>
          <ion-label *ngIf="dado.tipo == 'L'" color="success">Valor: R${{dado.valor}}</ion-label>
        </div>
      </ion-item>
    </ion-list>
  </div>  
</ion-content>