<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Little Pig Golden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Saldo:</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header [routerLink]="['/movimentacao']">
          <ion-card-title>
            <ion-icon name="people-circle" class="ion-float-left ion-margin-end"></ion-icon>
            Movimentação
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
    <ion-list style="margin-top: 10px!important;">
      <ion-item *ngFor="let dado of dados">
        <div style="margin-right: 5px;">
          <ion-icon name="{{dado.icone}}" size="large"></ion-icon>
        </div>
        <div style="width: 70%;">
          <ion-label>Descrição: {{dado.descricao}}</ion-label>
          <ion-label *ngIf="dado.tipo == 'D'" color="danger">Valor: R${{dado.valor}}</ion-label>
          <ion-label *ngIf="dado.tipo == 'L'" color="success">Valor: R${{dado.valor}}</ion-label>
        </div>
      </ion-item>
    </ion-list>
</ion-content>